/** @format */

.iconIMG {
  padding: 10px;
  width: 80px;
}
.BoxIcon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(180deg, #fe6f41 0%, #ffbc58 100%);
}
.BoxLayout {
  height: 320px;
  /* border: 1px solid red; */
  display: flex;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 50%; */
  height: 100%;
  /* border: 1px solid red; */
}
.layoutRight {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
  justify-content: space-evenly;
  flex-direction: column;
  width: 800px;
  height: 100%;
  /* border: 1px solid red; */
}
.ButtonStyle {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  /* border: 2px solid red; */
}
/* detaill zone */
.TextCredits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 1% 0px 1%;
  overflow: hidden;
  transition: display 0.3s ease-in-out;
  /* border: 2px solid red; */
}
.subTextCreadit {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  transition: ease-in-out 2s;
  /* width: 100%; */
  /* margin: 1% 0px 1%; */
  /* padding-left: 4%; */
}
.style {
  /* border: 1px solid sienna; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
}
.styleSub {
  /* border: 1px solid sienna; */
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
}

.Card {
  width: 400px;
  height: 140px;
  /* margin: 4px; */
  display: flex;
  border-radius: 20px;
}
.Cardpart1 {
  width: 30%;
  /* // border: '2px solid black', */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 22; */
  background-color: #bcc0c9;
}
.Cardpart2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 1rem;
  font-size: 14px;
  color: #373737;
}
button {
  font-family: 'Noto Sans Thai';
  text-align: left;
  padding: 0px;
  margin-top: 10px;
  color: #fe6f41;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
}
button:hover {
  background-color: #2f2f2f2c;
}
